<html>
 <head>
   <title> This is second page   </title>
    
	<style>
	     li{
		    font-size: 34px;
		 }
	
	     td{ 
		      border: 1px solid red;
		 }
	
	
	</style>
  
  </head>
  
  <body style="padding-left : 57px">
      
	  <h1 style= "color:Blue; text-align:center"> This is second page you came by using link this is called hyperlin</h1>
	  
	  <p> Thanks Thanks Thanks Thanks Thanks Thanks ThanksThanksThanksThanks ThanksT


ThanksThanksThanksThanks
ThanksThanksThanks
ThanksThanks	  </p>


 <br>
 <br>
 
 
 <!-- yadi want ki next tab pr open ho target  -->
 
 <a href="https://www.google.co.in/", target= "_blank"> GOOGLE </a>
 
 
 <br> <br>
 <!--
 src   ka use karke hm image ka location de sakte hain -->
 
 <img src="E:\Notepad++\HTML Project\IMG\N2.jpg", title="Nature image", alt= "image not available"> </img>


<img src="IMG\Nature.jpg" style="height : 500px; width : 600px; border-radius : 50px" alt="Image is not available ">	  
<img src="IMG\Nau.jpg", alt="Image is not available ">	 
  <br> <br>
  
  <button style="background:red; padding:20px; border-radius:30px; font-size:55px" color ="yellow" > click </button>
  
  <button type="submit" style= "background-color: Yellow; height : 50px; width : 60px; border-radius : 50px"> Submit </button>
  
  
  <button type= "reset" style= "background-color: Pink; height : 50px; width : 60px; border-radius : 50px">  Reset  </button>
  
  
  <!-- LIST 
    Ordered LIST
	Unordered LIST
 
 Sabhi li ka font change hua hai style me 
 
 "list-style-type: circle/ square/none" by default ye disk hota hai 
  -->

<ul style="list-style-type: square">
   <li> Java </li>
   <li> Python </li>
   <li> c# </li>
   <li> c++ </li>
 </ul>
  
  
  <!-- Ordered list 
    
           ordered list ka type may be "A" or "a" or "i" or 1(default)
	-->
  
  
 <ol style="padding-left:30px", type="A">
   <li> Java </li>
   <li> Python </li>
   <li> c# </li>
   <li> c++ </li>
 </ol>
  
  
  <hr>
  
    Learn code with Durgesh
    <BR>
    <h1> HElloo</h1>   <BR>
	<b> This is <del> bold </del>  tag </b>
	<br>
	<h1> <em> focus </em> </h1>
	<br>
     <strong> This is strong tag, it is similar to bold tag </strong>
    <br>
   <I> This is Italic tag </I>
    <br>
	
	<!-- Yadi no. ke niche ya  power me likhna hai -->
	
2<sub>4</sub>  <!-- 2 ke niche 4-->
<br>
2<sup> 5</sup>
  
  
  
  <br>
     <table border="1">
	   <tr>  <!-- table row ::: 1 row make to 1 bar <tr> ....-->
	      <td> <!-- ek row  me kitna column rakhna hai-->
		     first name
		  </td>
		  <td>
		     middle name 
		  </td>
		  <td>
		     last name 
		  </td>
		  
	  </tr>
	     
		 <tr>
		   <td> Durgesh </td>
		   <td> Kumar </td>
		   <td> Tiwari </td>
		   
		   
		 </tr>
	     <tr>
		   <td> Uttam </td>
		   <td> Kumar </td>
		   <td> Ghosh </td>
		 </tr>
	</table>
	<br>
	<br>
	<h1> Going to play video </h1>
	<!-- 
	   <video src="location "> </video>
	  
	  
	  <video>
			 <source scr="E:\Notepad++\HTML Project\Video">  </source>
	  </video>
  -->
  
  <video controls width="400px" height="300px" autoplay>
   <source src="C:\Users\gaura\Downloads\small.mp4 " type="video/mp4">

     </source>
  </video>
  
  
  <br>
   <hr>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ea9qUiC3sM4"
	title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
	allowfullscreen> </iframe>
  
  <iframe src="https://technosofteng.com/about-us/" width="560" height="855"
   frameborder="0"> </iframe>
  
  
  
  
  
  </br>
  
  </body>



</html>
